src/main/resources/package.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sberbank.ru/edo/oep/edo-oep-document" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Package">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="TypeDocument"/>
        <xs:element type="xs:string" name="Document"/>
        <xs:element type="xs:string" name="Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>